// Цвета карточек
$rectorColor: #FFF;
$highSchoolColor: #FFDBA5;
$prorectorGoncharovColor: #CCBFFF;
$prorectorMalkarovaColor: #CEFFF9;
$prorectorNikulinColor:#FEFFD3;



// Размеры и толщина начертаний шрифтов
$header: 1.61vw;
$subHeader: 1.35vw;
$personName: 0.90vw