.international {
    position: relative;
    width: 100%;
    padding: 8.2vw 4.2vw 0 4vw;

    &__title {
        font-family: Oswald;
        font-weight: 400;
        font-size: 1.55vw;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    &__wrap {
        margin-top: 1.5vw;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 22vw 22vw auto;
        gap: 1.2vw;
    }

    &__block-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__unions {
        position: relative;
        height: 28vw;
        z-index: 0;
        padding: 1.4vw 1.9vw 0 1.9vw;

        &-title {
            font-family: Oswald;
            font-weight: 400;
            font-size: 0.94vw;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }

        &-diagram {
            position: relative;
            margin-top: 1vw;
            width: 100%;
            height: 15vw;

            &-center {
                width: 8.8vw;
                height: 8.8vw;
                position: absolute;
                top: 49.5%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &-wrap {
                position: absolute;
                top: 36%;
                left: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            &-value {
                font-family: Oswald;
                font-weight: 700;
                font-size: 1.8vw;
                color: #FFFFFF;
                text-align: center;
            }

            &-descr {
                font-family: Oswald;
                font-weight: 400;
                font-size: 0.72vw;
                line-height: 0.75vw;
                color: #FFFFFF;
                text-align: center;
            }

            &-data {
                width: 14vw;
                height: 14vw;
                position: absolute;
                top: 50%;
                left: 51.5%;
                transform: translate(-50%, -50%);
            }
        }

        &-legend {
            margin-top: 0.8vw;
            height: 5.9vw;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__graphic {
        &-item {
            padding: 0.1vw 0.5vw 0 0;
            display: grid;
            grid-template-columns: 4.8vw 1fr;
            grid-template-rows: 1.6vw;
            column-gap: 0vw;
            align-items: center;
            position: relative;
           
        }

        &-info {
           position: relative;
        }

        &-descr {
            font-family: Oswald;
            font-weight: 400;
            font-size: 0.7vw;
            line-height: 0.8vw;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            text-align: right;
        }

        &-line {
            margin-top: 0.2vw;
            height: 0.7vw;
            &-row, &-data {
                height: 100%;  
            }
    
            &-row {
                height: 80%;
            }
    
            &-data {
                overflow: visible;
                width: 100%;
            }

            &-value {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 0.4em;
                fill: #FFFFFF;
                font-stretch: none;   
            }
    
            &-right-rect {
                transform-box: fill-box;
                transform-origin: center;
                transform: rotate(45deg);
                width: 0.25em;
                height: 0.25em;
                stroke-width: 0.1em;
            }
        }        
    }


    &__info {
        margin-top: 0.55vw;
        margin-left: 0.1vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 36.5vw;


        &-block {
            position: relative;
            width: 100%;
            height: 11.2vw;
        }

        &-wrap {
            padding: 2.7vw 1.5vw  2.7vw 1.8vw;
            display: flex;
            justify-content: space-between;

            &_accreditation {
                padding: 2.9vw 2.6vw  2.7vw 1.8vw;
            }

            &_rate {
                padding: 3.5vw 2vw  2.7vw 1.8vw;
            }
        }

        &-title {
            font-family: Oswald;
            font-weight: 400;
            font-size: 1.3vw;
            line-height: 1.85vw;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            width: 12vw;

            &_rate {
                width: 7vw;
            }
        }

        &-descr {
            margin-top: 0.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;

            &_rate {
                margin-top: 0;
                flex-direction: row;
                justify-content: space-between;
                width: 4.6vw;
            }
        }

        &-value {
            font-family: Oswald;
            font-weight: 400;
            font-size: 3.3vw;
            line-height: 3.3vw;
            text-align: center;
            color: #FB9B2B;
        }

        &-subtitle {
            font-family: Oswald;
            font-weight: 400;
            font-size: 1vw;
            text-align: center;
            color: #FFFFFF;
        }

        &-icon {
            width: 2.7vw;
            height: 2.65vw;
        }
       
    }

    &__data {
        display: grid;
        grid-template-columns: 22vw 22.5vw;
        grid-template-rows: 21.2vw 20vw;
        row-gap: 0.2vw;
        column-gap: 1.2vw;

        &-block {
            position: relative;
            z-index: 0;
        }

        &-wrap {
            padding: 1.6vw 1.4vw 0 1.4vw;

            &_students {
                padding: 1.6vw 1.8vw 0 0.8vw
            }

            &_resources {
                padding: 1.4vw 1.2vw 0 0.7vw
            }

            &_foreign-languages {
                padding: 1.8vw 1.2vw 0 1.7vw
            }
        }

        &-header {
            margin-left: 1vw;
            display: flex;
            justify-content: space-between;
            align-items: start;

            &_resources {
                align-items: center;
            }

            &-descr {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 3.5vw;
            }

            &-value {
                font-family: Oswald;
                font-weight: 400;
                font-size: 1.15vw;
                line-height: 1.5vw;
                color: #FFFFFF;
            }

            &-subtitle {
                font-family: Oswald;
                font-weight: 400;
                font-size: 0.5vw;
                line-height: 0.5vw;
                color: #627DAE;

                &_resources {
                    width: 4vw;
                }
            }
        }

        &-title {
            font-family: Oswald;
            font-weight: 400;
            font-size: 0.95vw;
            line-height: 1.1vw;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            width: 18vw;
        }

        &-body {
            margin-top: 1vw;
            width: 100%;
            height: 12vw;

            &_students {
                margin-top: 0.6vw;
                height: 15.5vw;

                .international__graphic-item {
                    grid-template-columns: 8vw 1fr;
                    grid-template-rows: 1.1vw;
                }

            }

            &_resources {
                height: 7vw;

                .international__graphic-item {
                    grid-template-columns: 7vw 1fr;
                }

            }

            &_foreign-languages {
                width: 90%;
                margin-top: 0.65vw;
                margin-left: 2.2vw;
                height: 9vw;

                .international__graphic-item {
                    grid-template-rows: 1.1vw;
                }
            }

            &_additional-programmes {
                .international__graphic-item {
                   
                    margin-top: 1vw;
                    grid-template-columns: none;
                    grid-template-rows: 1vw 1.1vw;
                    row-gap: 0.4vw;
                }

                .international__graphic-descr {
                    text-align: left;
                    width: 12vw;
                }

                .international__graphic-line-value {
                    fill: #FB9B2B;
                }
            }
        }

        &-students {
            margin-bottom: 0.8vw;
        }

        &-foreign-languages {
            margin-bottom: 5.5vw;
        }
    }

    &__diagram {
        &-wrap {
            width: 50%;
            margin-left: 2.5vw;
        }

        &-base {
            width: 100%;
        }

        &-body {
            position: relative;
            top: 0.3vw;
            padding:  0 1.2vw 0 0.5vw;
            width: 100%;
            height: 5.5vw;
            display: flex;
            justify-content: space-between;
            z-index: -1;

            &:before {
                width: 180%;
                content: '';
                position: absolute;
                top: -0.5vw;
                left: 78%;
                transform: translate(-50%, -50%);
                border-bottom: 0.1vw dashed rgba(33, 122, 255, 0.7);
            }

            &-item {
                width: 2.8vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                
            }

            &-—Åolumn {
                width: 100%;

                &_citizens {
                    background-color: #217AFF;
                }

                &_organisations {
                    background-color: #FB9B2B; 
                }
            }

            &-value {
                margin-bottom: 0.1vw;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 700;
                font-size: 0.55vw;
                text-align: center;
                color: #FFFFFF;
            }
        }

        &-legend {
            display: flex;
            justify-content: space-between;
            margin: 0 0.6vw 0 0.6vw;

            &-item {
                font-family: Oswald;
                font-weight: 400;
                font-size: 0.7vw;
                letter-spacing: 0.03em;
                color: #FFFFFF;
            }
        }
    }
}

