.default {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        font-family: Oswald;
        font-weight: 400;
        font-size: 5vw;
        line-height: 6.1vw;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        text-align: center;
    }

    &__subtitle {
        margin-top: 1.75vw;
        font-family: Russo One;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-top {
            font-size: 4vw;
            border-bottom: 0.5vw solid #FFFFFF;
        }

        
        &-bottom {
            margin-top: 0.5vw;
            font-size: 1.4vw;
            text-transform: uppercase;
        }
    }

    &__img {
        margin: 0 auto;
        width: 22vw;   
    }
} 
    