.default {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__title {
        font-family: Oswald;
        font-weight: 400;
        font-size: 5vw;
        line-height: 6.1vw;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        margin-left: 40vw;

        span {
            font-weight: 700;
        }
    }

    &__subtitle {
        margin-top: 1.75vw;
        font-family: Russo One;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-top {
            font-size: 4vw;
            border-bottom: 0.5vw solid #FFFFFF;
        }

        
        &-bottom {
            margin-top: 0.5vw;
            font-size: 1.4vw;
            text-transform: uppercase;
        }
    }

    &__img {
        position: absolute;
        width: 100%;   
        top: 7vw;

        img:nth-child(2) {
           position: absolute;
           top: 50%;
           left: 18vw;
           transform: translate(-50%, -50%);
           width: 17vw;
           height: auto;
        }
    }
} 
    