.enrollment {
    position: relative;
    width: 100%;
    margin: 10.2vw 4.2vw 0;

    &__header {
        display: flex;
        flex-direction: column;
    }

    &__title {
        margin-top: -0.1vw;
        font-family: 'Oswald';
        font-weight: 400;
        font-size: 1.4vw;
        line-height: 130%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    &__tabs {
        margin-top: 3vw;
        display: flex;
        justify-content: space-between;
        margin-left: 1vw;
        width: 23vw;
    }
    
    &__tab {
        position: relative;
        width: 9vw;
        height: 1.9vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            font-family: 'Oswald';
            font-weight: 400;
            font-size: 0.9vw;
            text-align: center;
            letter-spacing: 0.05em;
            color: #217AFF;
            color: #217affb3;
            margin-top: -0.1vw;
        }

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }

        &_large {
            width: 13vw;
        }

        &_active {
            span {
                color: #217AFF;
            }
        }
    }
    
    &__tabcontainer {
        margin-top: 3vw;
    }

    &__tabcontent {
        width: 90vw;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}