@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Medium.eot');
    src: url('../assets/fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Oswald-Medium.woff') format('woff'),
        url('../assets/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/fonts/Oswald-Regular.eot');
    src: url('../assets/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Oswald-Regular.woff') format('woff'),
        url('../assets/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: url('Oswald-Bold.eot');
    src: url('Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('Oswald-Bold.woff') format('woff'),
        url('Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.eot');
    src: url('../assets/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Montserrat-Bold.woff') format('woff'),
        url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik-Bold.eot');
    src: url('../assets/fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Rubik-Bold.woff') format('woff'),
        url('../assets/fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

