
		:root {
			--primary: #ffffff;
			--primary-light: #85b8eb;
			--secondary: #3498db;
			--accent: #e74c3c;
			--white: #ffffff00;
			--shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
			    --aside-width: 11.5vw;
    --transition: all 0.3s ease;
		}

		.container {			
			margin: 6vw auto 1vw;
			border-radius: 12px;
			box-shadow: var(--shadow);
			padding: 40px;
			display: flex;
		}

		.main-title {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.7vw;
			font-weight: 700;
			text-align: center;
			&_italic{
				font-size: 1.5vw;
				font-style: italic;
				font-weight: 400;
				margin: 0;
			}
		}


		.subtitle {
			font-size: 1.4vw;
			text-align: center;
			margin-bottom: 30px;
		}

		.tabs {
			display: flex;
			border-bottom: 2px solid #e0e0e0;
			margin-bottom: 30px;
			overflow-x: auto;
		}

		.tab {
			padding: 15px 25px;
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			font-size: 1rem;
			color: var(--primary-light);
			background: none;
			border: none;
			cursor: pointer;
			position: relative;
			transition: all 0.3s ease;
			white-space: nowrap;
		}

		.tab:hover {
			color: var(--secondary);
		}

		.tab.active {
			color: var(--secondary);
		}

		.tab.active::after {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: var(--secondary);
			border-radius: 3px 3px 0 0;
		}

		.tab-content {
			display: none;
		}

		.tab-content.active {
			display: block;
		}

		.section-title {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.7vw;
			font-weight: 500;
			margin: 1.3vw;
			text-align: center;
		}

		.form-title {
			font-family: 'Oswald', sans-serif;

		font-size: 1.4vw;
			font-weight: 500;
			margin: 1.3vw;
			border: none;
			text-align: center;
		}

		.faculty-title {
			font-style: italic;
			font-size:1.3vw;
			margin: 15px 0 5px;
			border: none;
			text-align: center;
			padding: .5vw;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 20px;
		}
		thead{
			position: sticky;
			top: 0;
			background-color: #19537a;
		}
		th,
		td {
			padding: 10px;
			border: 1px solid #e0e0e0;
			text-align: left;
		}

		th {
			font-weight: 600;
			
		}

		.cost-cell {
			margin-left: .5vw;
			font-family: Oswald;
			font-weight: 400;
			font-size: 1.2vw;
			line-height: 1.4vw;
			color: #fb9b2b;
		}

		.code-cell {
			color: var(--secondary);
			font-family: Oswald;
			font-weight: 400;
				font-size: .95vw;
			vertical-align: middle;
			line-height: .7vw;
			letter-spacing: .05em;

		}

		.name-cell{
			font-family: Oswald;
			font-weight: 400;
			font-size: .95vw;
			letter-spacing: .05em;
			color: #fff;
			vertical-align: middle;
		}

// Стили для боковой панели
.aside-bar {
    position: sticky;
    top: 0;
    height: fit-content;
	    padding-block-start: 4.3vw;
    
    .nav-title {
			font-family: Oswald;
			margin-block-end: 1vw;
			font-weight: 500;
    		font-size: 1.4vw;
			letter-spacing: .05em;
			color: #fff;
    }
    
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .nav-item {
        margin-bottom: 5px;
    }
    
    .nav-link {
		display: block;
		padding: 0.45vw 0.45vw;
		font-family: Oswald, sans-serif;
		color: var(--primary-light);
		text-decoration: none;
		border-radius: .2vw;
		transition: var(--transition);
		font-size: 0.95vw;
		border: 0.1vw solid;
		margin-block-end: .75vw;

        
        &.active {
            background-color: rgba(52, 152, 219, 0.2);
            color: var(--secondary);
            font-weight: 600;
        }
    }
    
    .sub-nav {
		list-style: none;
		margin: .75vw 0.2vw;
		display: none;


        &.active {	
            display: block;
        }

        
        .sub-nav-link {
            display: block;
            padding: 8px 15px;
            font-family: 'Oswald', sans-serif;
            font-size: 1.10vw;
            color: var(--primary-light);
            text-decoration: none;
            border-radius: 6px;
            transition: var(--transition);
            
            &:hover {
                background-color: rgba(52, 152, 219, 0.05);
                color: var(--secondary);
            }
            
            &.active {
                color: var(--secondary);
                font-weight: 600;
            }
        }
    }
}

.iframe{
    aspect-ratio: 18 / 8;
    margin-inline: auto;
    inline-size: 100%;
}