.modal{
    backdrop-filter: blur(3px);
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: opacity .4s linear;
    display: block;
    padding-block-end: 92.5px;
    padding-inline-end: 70.85px;
}
.opened{
    opacity: 1;
    z-index: 2;
    visibility: visible;
    
}

.modal-container{
    position: relative;
}

.close-modal-btn{
  position: absolute;
  top: 23vw;
  right: 4vw;
  background-image: url('../../assets/img/close-button.svg');
  block-size: 1vw;
  inline-size: 1vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  background-size: contain;
}

.more-list{
    display: flex;
    justify-content: flex-start;
    column-gap: 2vw;
    row-gap: 1.5vw;
    background-image: url('../../assets/img/modal-popup.svg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: flex-start;
    padding: 8.4vw 3.1vw;
    flex-wrap: wrap;
    align-content: flex-start;
    inline-size: 47vw;
    block-size: 37vw;
    position: absolute;
    right: 0;
    top: 17vw;
}

// Кнопки
.button-primary {
    color: #217aff;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 0.55vw;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    padding-block: 15px;
    padding-inline: 12px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    min-inline-size: 11vw;
    min-block-size: 2.6vw;
  }
  
.button-primary_casual {
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    background-image: url('../../assets/img/border-for-button.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
