
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.science {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 6.5vw 4.2vw 6vw 4vw;
    
    &__heading{
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    } 
    
    &__inner {
        display: flex;
        gap: 1.5vw;
    }

    &__separator{
        inline-size: 100%;
        margin-block:2.5vh ;
    }
    &__title {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: normal;
        font-size: 1.55vw;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    &__wrap {
        margin-top: 4.5vh;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 29.5vw 1fr;
        grid-template-rows: 37.5vw;
        gap: 1.2vw;
    }

    &__block {
        position: relative;
        z-index: 0;

        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }     
    }

    &__logo {
        block-size: 65% ;
        grid-row: 2 / 3;
        grid-column: 3 / 5;
        justify-self: center;
        align-self: end;
    }

    &__data {
        &-wrap {
            padding: 1.2vw 1.8vw 0 1.8vw;
        }

        &-plan {
            height:  6.5vw;
           
            &__point {
                display: flex;
                justify-content: space-between;

                &-left, &-right {
                    font-family: Oswald;
                    font-weight: 400;
                    font-size: 0.65vw;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                }
            }
            
            &__progressbar {
                margin-top: 0.3vw;
                width: 100%;
                height: 2vw;
            }

            &__info {
                margin-top: 0.4vw;
                display: flex;
                justify-content: space-between;

                &-right {
                    text-align: right;
                }

                &-ratio {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.75vw;
                    color: #FFFFFF;
                }

                &-sum {
                    margin-top: 0.2vw;
                    font-family: Montserrat;
                    font-weight: 400;
                    font-size: 0.65vw;
                    color: #FFFFFF;
                }
            }
        }

        &-diagram {
            position: relative;
            flex: 1;

            // &:before {
            //     width: 100%;
            //     content: '';
            //     position: absolute;
            //     top: -45%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     border-bottom: 0.1vw dashed rgba(33, 122, 255, 0.7);
            // }

            &_scopus {
                margin-top: 2.6vw;
                height: 7vw;
                grid-row: 1 / 2;
                grid-column: 1 / 3;
            }

            &_wos {
                margin-top: 2.6vw;
                height: 7vw;
                grid-row: 1 / 2;
                grid-column: 3 / 5;

                // &:before {
                //     top: -45%;
                // }
            }
            &_egpni-bs {
                margin-top: 2.6vw;
                height: 7vw;
                grid-row: 2 / 2;
                grid-column: 1 / 3;
        align-self: center;

                &:before {
                    top: -45%;
                }
            }

            &__legend {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                top: -2.2vw;
                left: -0.5vw;

                &-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &-icon {
                    width: 0.88vw;
                    height: 0.86vw;
                    align-items: center;
                   
                }

                &-descr {
                    margin-left: 0.3vw;
                    font-family: Oswald;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.9vw;
                    line-height: 1.2vw;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    text-align: center;
                    padding-bottom: 0.1vw;
                }
            }

            &__wrap {
                width: 100%;
            }

            &__item {

                svg {

                    text {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.3em;
                        fill: #FFFFFF;
                    }
                }
            }

            &__months {
                margin-top: 0.5vw;
                padding: 0 0.45vw;
                width: 100%;
                display: grid;
                height: 1vw;
                grid-template-columns: repeat(6, 1fr);
                gap: 1vw;

                span {
                    text-align: center;
                    font-family: Oswald;
                    font-weight: 400;
                    font-size: 0.65vw;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                }
            }  
        }
    }


    &__info {
        // background-image: url('../assets/science-frame.svg');
        // background-image: url('../../assets/science-frame.svg');
        background-image: url('../../assets/img/science__info-border_bg1.png');
        background-size: contain;
        background-repeat: no-repeat;



        &-title {
            font-family: Oswald;
            font-style: normal;
            font-weight: normal;
            font-size: 0.92vw;
            line-height: 1.2vw;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }

        &-body {
            // margin-top: 1.8vw;
            row-gap: 1.4vw;
            align-items: center;
                display: grid;            
            align-items: flex-start;
            gap: 2vw;
            padding: 2vh 2.4vw 2vw 1.7vw;
            width: 100%;
            height: 100%;
            row-gap: .6vw;
        }

        &-block {
            position: relative;
            flex:1;
         
            &_double {
                padding: 1vw 0 ;
                display: flex;
                flex-direction: row;
                inline-size: fit-content;
            }

            &-wrap {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-block-start: 1.4vw;
                padding-block-end: 1.4vw;

                &_double { 
                    // height: 2.5vw;
                    padding: 0;
                }
            }
       
            &-icon {
                width: 0.84vw;
                height: 0.82vw;
            }

            &-sum {
                display: flex;
                align-items: center;
            }

            &-value {
                font-family: Oswald;
                font-weight: 500;
                font-size: 1.85vw;
                text-align: center;
                color: #217AFF;

                &_scoups, &_scoups_q1-q2, &_wos, &_wos_q1-q2, &_egpni-bs, &_egpni-bs_q1-q2 {
                    font-size: 1.9vw;
                }

                &_scoups {
                    color: #217AFF;
                }

                &_scoups_q1-q2 {
                    color: #44BCFF;
                }

                &_wos {
                    color: #FB9B2B;
                }

                &_wos_q1-q2 {
                    color: #FFDD85;
                }
                &_technical{
                    color: #FB9B2B;

                }
                            &_egpni-bs {
                color: #03C544;
            }
            &_egpni-bs_q1-q2 {
                color: #7BE9A0;
            }
            }

            &-subtitle {
                margin-left: 0.3vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: Oswald;
                font-weight: 500;
                font-size: 0.8vw;
                line-height: 1vw;
                text-align: center;
                color: #FFFFFF;
            }

            &-descr {
                text-align: center;
                width: 8vw;
                font-family: Oswald;
                font-weight: 400;
                font-size: 0.7vw;
                line-height: 0.9vw;
                text-align: center;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                inline-size: 11vw;
                text-wrap: balance;

                &_double {
                    margin-top: 0.5vw;
                }

                &_expected-receipt {
                    width: 12.1vw;
                }
            }
        }
    }

}