.all-branches {
    width: 100%;
    position: relative;
    padding: 0vw 0 4vw 0;
    display: grid;
    grid-template-columns: 16.5vw auto;
    
    &__map {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &-img {
            left: 10vw;
            top:  3vw;
            position: relative;
            width: 66vw;
            height: 39vw;  
        }

        &-logo {
            left: 16vw;
            bottom: 10vw;
            width: 6rem;
            height: 6rem;
            position: absolute;
           
            @media (min-width: 1024px) {
                bottom: 8vw;
                left: 14vw;
            }

            @media (max-width: 760px) {
                bottom: 6vw;
                left: 10vw;
            }
        }
    }
    
    &__title {
        position: absolute;
        top: 4.5vw;
        left: 20vw;
        font-family: Oswald;
        font-weight: 400;
        font-size: 1.5vw;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    &__list {
        z-index: 1;
        position: relative;
        top: 6vw;
        left: 0;
        height: 80%;
        display: grid;
        grid-template-rows: repeat(15,1fr);

        @media(min-width: 2000px) {
            height: 70vh;
        }

        @media(min-width: 1400px) {
            height: 100%;
        }
 
        &-item {
            border: 0.2vw solid #65A1FB;
            border-bottom: none;
            padding-left: 25%;
            text-align: start;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 0.7vw;
            line-height: 50%;
            transition: all ease-in 0.7s;
            color: #FFFFFF;
           
            &:hover {
                box-shadow: rgba(16, 105, 187, 0.877) 0px -50px 36px -28px inset;
            }
           
            &:first-child {
                border-radius: 0 3em 0 0;
            }

            &:last-child {
                border-radius: 0 0 3em 0;
                border-bottom: 0.2vw solid  #65A1FB;
            }
        }
    }
} 
    