@mixin fade {
    animation-name: fade;
    animation-duration: 1.6s;
}

@mixin slash {
    content: '';
    position: absolute;
    background-color: #217AFF;
    bottom: 0.1vw;
    width: 0.1vw;
    transform: rotate(28deg);
    left: -0.8vw;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.plan {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__tabheader {
        position: absolute;
        width: 15vw;
        height: 2.4vw;
        top: 2.8vw;
        left: 12.5vw;
        display: flex;
        justify-content: space-between;

        &-btns {
            display: flex;
            justify-content: space-evenly;
            width: 10vw;
        }
    }

    &__tabitem {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.4vw;
        height: 100%;
        cursor: pointer;
        z-index: 1000;

        svg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            stroke-opacity: 0.4;
            stroke-width: 2;
            stroke: #217AFF;
        }

        &-value {
            font-family: Oswald;
            font-weight: 700;
            font-size: 0.625vw;
            color: #217AFF;
            opacity: 0.4;
            z-index: 0;
        }

        &_active {
            svg {
                stroke-opacity: 1;
            }

            .plan__tabitem-value {
                opacity: 1;
            }
        }
    }

    &__wrapper {
        margin-top: 4.5vw;
        width: 85.5vw;
        position: relative;
    }

    &__header {
        position: absolute;
        top: 1vw;
        margin-left: 30%;
        font-size: 1.5vw;
        display: flex;
        align-items: center;
        justify-content: start;

        &-subtitle {
            position: relative;
            margin-left: 2vw;
            font-size: 0.8vw;
            color: #217AFF;

            &::before {
                @include slash();
                height: 1.7vw;
            }

            span {
                font-size: 1.5vw;
                margin-right: 0.2vw;
            }
        }
    }

    &__tabcontainer {
        margin-top: 4vw;
        position: relative;
        display: flex;
    }

    &__menu {
        position: absolute;
        top: -3vw;
        left: -4vw;
        width: 33%;
        height: 46.5vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        &-block {
            height: 3.6vw;
            position: relative;
            width: auto;
            cursor: pointer;
            border: 1px solid #217AFF;
            padding: 0 1.5vw;

            &:nth-child(1) {
                margin-top: 1vw;
            }

            &__wrap {
                margin-top: 0.1vw;
            }

            &__descr {
                font-family: Oswald;
                font-weight: 400;
                color: #FFFFFF;
                font-size: 0.8vw;
                letter-spacing: 0.05em;
            }

            &__title {
                font-size: 1vw;
                letter-spacing: 0.05em;
                margin: 1vw 0 0vw;

                &:nth-child(1) {
                    margin: 0 0 0vw;
                }
            }

            &__info {
                display: flex;
                margin-top: 0.2vw;
                align-items: center;
            }

            &__indicators {
                margin-left: .5vw;
                display: grid;
                grid-template-columns: 3.8vw 1fr;
                gap: 1vw;
            }

            &__value {
                margin-top: -0.4vw;
                font-size: 1vw;
            }

            &__current-plan {
                position: relative;
                margin-top: 0vw;

                &::before {
                    @include slash();
                    height: 1.2vw;
                    left: -.5vw;
                }
            }

            &__current-plan-value,
            &__current-plan-descr {
                font-family: 400;
                font-weight: 500;
                font-size: 0.7vw;
                color: #217AFF;
            }

            &__alarm {
                display: block;
                width: 2vw;
                height: 2vw;
                position: absolute;
                top: 1.7vw;
                transform: translate(-50%, -50%);
                right: -0.5vw;
            }

            &_opened {
                height: 10.5vw;
                background: rgba(26, 53, 143, 0.98);
                border: 0.15vw solid #FFFFFF;
            }
        }
    }

    &__graphi—Å {
        top: -0.25vw;
        left: -0.7vw;
        position: relative;
        height: 0.6vw;
        transition: all 1.5s;

        rect {
            transition: all 1.5s;
        }

        &-row,
        &-data {
            height: 100%;
        }

        &-row {
            height: 60%;
        }

        &-data {
            overflow: visible;
            width: 100%;
        }

        &-right-rect,
        &-left-rect {
            transform-box: fill-box;
            transform-origin: center;
            transform: rotate(45deg);
            width: 0.2em;
            height: 0.2em;
            stroke-width: 0.1em;
        }

        &-left-rect {
            overflow: hidden;
        }
    }

    &__progressbar {
        margin-top: 0.2;
        width: 100%;
        height: 2vw;

        &_menu {
            margin-top: -0.3vw;
            width: 52%;
            height: 20%;
        }
    }

    &__tabcontent {
        display: flex;
        justify-content: end;
        width: 100%;

        &-wrap {
            width: 70%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: max-content;
            grid-column-gap: 1.2vw;
            position: relative;
        }

        &-element {
            position: relative;
            height: 100%;
        }

        &-block {
            position: relative;
            width: 100%;
            height: max-content;

            &_p1-l {
                overflow: hidden;
                height: 100%;
            }

            &__bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            &__wrap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                padding: 2vw 1.5vw 2vw 3vw;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                -ms-overflow-style: none;
                scrollbar-width: none;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
                }

                &_menu {
                    height: 95%;
                    padding: 0;
                }
            }

            &__item {
                margin-top: 1vw;
                position: relative;
                width: 100%;

                &:nth-child(1) {
                    margin-top: 0;
                }
            }

            &__info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                cursor: pointer;

                &_bottom {
                    height: 1.2vw
                }
            }

            &__descr {
                font-family: Oswald;
                font-weight: 400;
                font-size: 0.9vw;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                line-height: 1.1vw;
                max-width: 70%;

                &_mt {
                    margin-top: 0.5vw;
                }
            }

            &__value {
                font-family: Oswald;
                font-weight: 400;
                font-size: 1.5vw;
                color: #FFFFFF;
                text-align: right;
            }

            &__divider {
                width: 60%;
                height: 1.2vw;
            }

            &__current-plan-value,
            &__current-plan-descr {
                font-family: 400;
                font-weight: 500;
                font-size: 0.7vw;
                color: #FFFFFF;
                text-align: right;
            }

            &__icon {
                width: 2vw;
                height: auto;
            }

            &__bg {
                position: absolute;
                top: -2vw;
                left: -3vw;
                right: 0;
                bottom: 0;
                z-index: -1;
                width: 29.3vw;
                height: auto;

                &_down {
                    top: -1vw;
                }

                &_middle {
                    top: -1.4vw;
                }
            }

            &__mark {
                position: absolute;
                top: 0.5vw;
                left: -1.7vw;

                rect {
                    transform-box: fill-box;
                    transform-origin: center;
                    transform: rotate(45deg);
                    width: 0.2em;
                    height: 0.2em;
                    stroke-width: 0.1em;
                }
            }
        }
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #112054;
    opacity: 0.9;
    z-index: -1;

    &_show {
        z-index: 2000;
    }
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    padding: 4.5vw 1.5vw 3vw;
    display: none;

    &_small {
        width: 27vw;
        height: 15vw;
    }

    &_medium {
        width: 45vw;
        height: 20vw;
        padding: 4vw;
        top: 40%;
    }

    &_large {
        width: 67vw;
        height: 40vw;
        padding: 4vw;
    }

    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__select {
        z-index: 2001;
        margin: 0 0 1.5vw;
        width: 7vw;
        height: 3vw;
        color: #FFFF;
        position: relative;
        display: flex;
        justify-content: space-between;

        &-btn {
            width: 3vw;
            height: 3vw;
        }
    }

    &__control {
        margin-top: 1.5vw;
        display: grid;
        grid-template-columns: 20vw 20vw 15vw;
        gap: 3vw;
        height: 100%;

        &-item {
            z-index: 2001;
            position: relative;
        }
    }

    &__place {
        height: 12vw;
        position: relative;

        &-wrapper {
            width: 100%;
            height: 100%;
            padding: 1.5vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        &-item {
            position: relative;
            width: 12vw;
            text-align: center;
            z-index: 2002;
            cursor: pointer;

            span {
                font-family: 'Oswald';
                font-weight: 400;
                font-size: 1vw;
                letter-spacing: 0.1em;
                color: rgba(255, 255, 255, 0.5);
                z-index: 2001;
            }

            &__frame {
                position: absolute;
                z-index: 2001;
                width: 12vw;
                height: 2.2vw;
                top: -.3vw;
                right: 0;
                left: 0;
                bottom: 0;
                display: none;
            }

            &_active {
                span {
                    color: #FFFFFF;
                    position: relative;
                    z-index: 2001;
                    font-weight: 500;
                }
            }
        }
    }

    &__timetable {
        height: 100%;
        width: 100%;
        position: relative;

        &-wrapper {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 1.5vw;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(17, 1fr);
        }

        &-item {
            text-align: center;
            cursor: pointer;
            z-index: 2001;
            position: relative;

            span {
                font-family: 'Oswald';
                font-weight: 400;
                font-size: .65vw;
                letter-spacing: 0.1em;
                color: rgba(255, 255, 255, 0.5);
            }

            &__frame {
                position: absolute;
                z-index: 2001;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                display: none;
            }

            &_active {
                span {
                    color: #FFFFFF;
                    position: relative;
                    z-index: 2001;
                    font-weight: 500;
                }
            }
        }
    }

    &__calendar {
        box-sizing: border-box;
        width: 100%;
        height: 18vw;
        position: relative;

        &-wrapper {
            padding: 1.5vw;
            width: 100%;
            position: relative;
            z-index: 2001;
            display: flex;
        }

        &-month,
        &-year {
            font-family: 'Oswald';
            font-weight: 500;
            font-size: 1vw;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #217AFF;
        }

        td {
            text-align: center;
            width: 2.5vw;
            height: 2vw;
        }

        &-table {
            height: 10vw;
            width: 100%;
        }

        &-arrow__btn {
            margin: 0 auto;
            height: 1vw;
            cursor: pointer;
        }

        &-days {
            font-family: 'Oswald';
            font-weight: 500;
            font-size: 1vw;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
        }

        .today {

            span {
                font-family: 'Oswald';
                font-weight: 500;
                color: #FFFFFF;
            }

            .modal__calendar-item__frame {
                display: block;
            }
        }

        .day-cell {
            position: relative;
            font-family: 'Oswald';
            font-weight: 400;
            font-size: 1vw;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        &-item__frame {
            position: absolute;
            z-index: 2002;
            width: 100%;
            height: 100%;
            top: -.2vw;
            right: 0;
            left: 0;
            bottom: 0;
            display: none;
        }
    }

    &__submit {
        margin-top: 2vw;
        width: 100%;

        svg {
            width: 100%;
        }

        div {
            font-size: 1.1vw;
        }

    }

    &__title {
        z-index: 2001;
        position: relative;
        font-family: Oswald;
        font-weight: 500;
        font-size: 0.9vw;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__btns {
        margin: 2vw 0.2vw 0;
        text-align: center;
        display: flex;
        justify-content: space-between;

        &_medium {
            width: 24vw;
        }
    }

    &__btn {
        position: relative;
        z-index: 2001;
        cursor: pointer;

        &-bg {
            width: 11.5vw;
            height: 4.5vw;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        div {
            color: #FFFFFF;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
        }
    }

    &_show {
        display: block;
    }
}