@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Oswald:wght@400;500;600;700&family=Rubik:wght@700&family=Open+Sans:wght@700&display=swap');

@import "./common/__index";

@import './blocks/base';
@import './blocks/footer';
@import './blocks/header';
@import './blocks/international';
@import './blocks/science'

